<a href="https://colab.research.google.com/github/Ashoks7/RESALECARS/blob/main/resalecars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**RESALE CAR DATA**

In [1]:
import pandas as pd

In [3]:
df=pd.read_excel("/content/car2nd.xlsx")
df

,Unnamed: 0,car_company,car_name,varient,vaient1,varient2,govt_std,govt_std2,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,0,Jeep,Compass,2,Longitude,Option,BSIV,NaN,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,2017,1956 cc,5 Seats
1,1,Renault,Duster,RXZ,Turbo,CVT,NaN,NaN,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2021,1330 cc,5 Seats
2,2,Toyota,Camry,2.5,G,NaN,NaN,NaN,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,2016,2494 cc,5 Seats
3,3,Honda,Jazz,VX,CVT,NaN,NaN,NaN,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,2018,1199 cc,5 Seats
4,4,Volkswagen,Polo,1.2,MPI,Highline,NaN,NaN,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,2016,1199 cc,5 Seats
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5507,5507,BMW,X1,sDrive,20d,xLine,NaN,NaN,28.90 Lakh,"45,000 kms",Diesel,Automatic,1st Owner,2018,2995 cc,7 Seats
5508,5508,BMW,M,Series,M4,Coupe,NaN,NaN,64.90 Lakh,"29,000 kms",Petrol,Automatic,2nd Owner,2015,1968 cc,5 Seats
5509,5509,Jaguar,XF,2.2,Litre,Luxury,NaN,NaN,13.75 Lakh,"90,000 kms",Diesel,Automatic,2nd Owner,2013,2755 cc,5 Seats
5510,5510,BMW,7,Series,730Ld,NaN,NaN,NaN,29.90 Lakh,"79,000 kms",Diesel,Automatic,3rd Owner,2015,2967 cc,6 Seats
5511,5511,BMW,5,Series,520d,M,Sport,NaN,31.90 Lakh,"42,000 kms",Diesel,Automatic,2nd Owner,2017,1991 cc,5 Seats

**CAR BRAND AND COUNTS WAITING FOR RESALE**

In [4]:
df["car_company"].value_counts()

Maruti           1389
Hyundai          1023
Honda             498
Mahindra          315
Mercedes-Benz     283
Tata              269
Toyota            263
BMW               172
Renault           170
Ford              168
Audi              166
Volkswagen        159
Skoda             113
Chevrolet          82
Nissan             63
MG                 62
Kia                61
Land               50
Jeep               49
Volvo              31
Jaguar             30
Datsun             25
Fiat               17
Mini               14
Porsche            10
Lexus              10
Mitsubishi          8
Maserati            5
Isuzu               4
Force               1
Premier             1
Bentley             1
Name: car_company, dtype: int64

**car name and its counts**

In [5]:
df["car_name"].value_counts()

Swift        388
i20          237
City         221
Wagon        206
Alto         192
            ...
Outlander      1
Fusion         1
Supro          1
Aria           1
M              1
Name: car_name, Length: 230, dtype: int64

**FUELTYPE AND ITS COUNT**

In [7]:
df["fuel_type"].value_counts()

Petrol      2967
Diesel      2423
Cng           80
Lpg           28
Electric      14
Name: fuel_type, dtype: int64

**SEATS AND ITS COUNTS**

In [9]:
df["Seats"].value_counts()

5 Seats    4673
7 Seats     631
4 Seats      88
6 Seats      61
8 Seats      54
2 Seats       5
Name: Seats, dtype: int64

In [18]:
df1=pd.read_excel("/content/car2nd_kms.xlsx")

In [31]:
car_under50k=df1[((df1["car_name"] == "Alto") | (df1["car_name"] == "Swift") | (df1["car_name"] == "i20") | (df1["car_name"] == "City") | (df1["car_name"] == "Wagon")) & (df1["ownership"] == "1st Owner") & (df1["kms_driven"]<50000)]

**CARS DRIVEN LESS THAN 50,000KMS AND OWNERSHIP STATUS:1ST OWNER (ONLY ALTO,SWIFT,I20,CITY,WAGONR)**

In [32]:
car_under50k["car_name"].value_counts()

Swift    93
i20      75
Alto     71
City     54
Wagon    47
Name: car_name, dtype: int64